__pycache__/
*.pyc
*.pyo
*~$

.Python
env/
venv/
venv_test/
conda_env/
.venv/
build/
develop-eggs/
dist/
eggs/
*.egg-info
.installed.cfg
*.egg

.conda/
.jupyter/
.ipython/

.coverage
.pytest_cache/
htmlcov/

.vscode/ 
*.swp    
.DS_Store 

logs/
output/
wandb/
runs/